page-bonusjune .toolbar-background-md {
  background-color: #e11173;
}

page-bonusjune .toolbar-title-md {
    color: #fff;
}

page-bonusjune .income-summary {
  background-color: #e11173;
  text-align: center;
  color:#fff;
  font-weight: normal;
}

page-bonusjune .income-summary h1 {
  color:#f4ff84;
  margin-top: 1rem;
}

page-bonusjune .income-summary span {
  color:#fd8bbf;
}

page-bonusjune .income-summary h5 {
  margin-top:5px;
  font-weight: normal;
  margin-bottom:0;
}

page-bonusjune .list-title {
  background-color: #f9e8f2;
  color: #d996b7;
  padding-top:0 !important;
  padding-bottom:0 !important;
}

page-bonusjune .month-list ion-row {
  margin:5px 0;
  padding:5px 0;
  margin-bottom: 0;
  border-bottom:1px solid #ddd;
}
