page-myworkplace .toolbar-background-md {
  background-color: #e11173;
}

page-myworkplace .home-title a {
  color:#cb0100;
}

page-myworkplace .price {
  color:#cb0100;
}

page-myworkplace .home-title h4 {
  font-size: 1.5rem;
}

page-myworkplace .home-content h5{
  font-weight:normal;
  text-align: center;
  margin-top:30px;
  font-size: 23px;
}

page-myworkplace .home-content h6{
  font-weight:normal;
  text-align: center;
  margin-top:10px;
  color: #ccc;
}

page-myworkplace .home-title h4 a{
  text-decoration: none;
}

page-myworkplace .home-merchant-list h4 {
  font-size: 1.6rem;
  text-align: center;
  font-weight: normal;
  margin-top:10px;
}

page-myworkplace .rating {
  color:#ffbb58;
}

page-myworkplace .toolbar-md-mymart .toolbar-background-md {
  background-color: #e11173;
}

page-myworkplace .content-md {
  background-color: #fff0f7;
}

page-myworkplace .card-md {
    margin: 10px;
    border-radius: 5px;
  }

page-myworkplace .home-menu {
  text-align: center;
  padding-bottom: 0px !important;
}

page-myworkplace .home-menu ion-card-header {
  font-weight: bold;
}

page-myworkplace ion-icon {
  font-size: 5rem;
}

page-myworkplace .card-header-md {
  padding-bottom:10px;
}

page-myworkplace .card-content-md {
  font-size: 1.5rem;
}

page-myworkplace  .scroll-content {
  margin-top:80px;
}

page-myworkplace ion-card-content {
  color:#e11173;
  font-weight: bold;
}

/* Sidemenu Style */
page-myworkplace .mycategories {
  background-color: transparent !important;
  color:#fff !important;
  padding:0; margin:0;
}

page-myworkplace .bar-button-menutoggle-md ion-icon {
    font-size: 2.5rem !important;
}

page-myworkplace ion-header .button-inner {
  width:inherit;
}

page-myworkplace .title.title-md .toolbar-title.toolbar-title-md {
  color:#fff !important;
}

page-myworkplace .profile_btn {
  display: block;
  margin:0 auto;
  opacity: .5;
}
