page-marketingplan .toolbar-background-md {
  background-color: #e11173;
}

page-marketingplan .toolbar-title-md {
    color: #fff;
}

page-marketingplan .content-md {
  background-color: #ffdded;
}

page-marketingplan .back-button.show-back-button,
page-marketingplan .back-button.show-back-button:hover {
  color:#fff;
}
