page-userprofile .home-title a {
  color:#cb0100;
}

page-userprofile .price {
  color:#cb0100;
}

page-userprofile .home-title h4 {
  font-size: 1.5rem;
}

page-userprofile .home-content h5{
  font-weight:normal;
  text-align: center;
  margin-top:30px;
}

page-userprofile .home-title h4 a{
  text-decoration: none;
}

page-userprofile .home-merchant-list h4 {
  font-size: 1.6rem;
  text-align: center;
  font-weight: normal;
  margin-top:10px;
}

page-userprofile .rating {
  color:#ffbb58;
}

page-userprofile .toolbar-background-md,
ion-app.ios {
  background-color: #e11173;
}

page-userprofile .content-md {
  background-color: #ffdded;
}

page-userprofile .home-menu {
  text-align: center;
  padding-bottom: 0px !important;
}

page-userprofile .home-menu ion-card-header {
  font-weight: bold;
}

page-userprofile ion-icon {
  font-size: 5rem;
}

page-userprofile .card-header-md {
  padding-bottom:10px;
}

page-userprofile .card-content-md {
  font-size: 1.5rem;
}

page-userprofile  .scroll-content {
  margin-top:80px;
}

/* Sidemenu Style */
page-userprofile .mycategories {
  background-color: transparent !important;
  color:#fff !important;
  padding:0; margin:0;
}

page-userprofile .bar-button-menutoggle-md ion-icon {
    font-size: 2.5rem !important;
}

page-userprofile ion-header .button-inner {
  width:inherit;
}

page-userprofile .title.title-md .toolbar-title.toolbar-title-md {
  color:#fff !important;
}

page-userprofile .list-header-md {
  margin-bottom: 0;
  min-height: 1rem !important;
  border:none;
  background-color:transparent;
}

page-userprofile .item-block {
  min-height: 3rem;
}

page-userprofile .label-md {
  margin:0;
  white-space: inherit;
}

page-userprofile .list-md {
    margin-bottom: 30px;
    background:transparent;
}

page-userprofile .item-md {
  background-color: transparent;
}

page-userprofile .contain_profile {
  background:#fff;
  border-radius: 10px;
  margin-top:20px;
}

page-userprofile .cta_btn {
  margin-top:20px;
  border-radius: 5px;
}

page-userprofile h3 {
  padding-bottom: 0;
  margin-bottom: 0;
}

page-userprofile h5 {
  padding-top:0;
  margin-top:0;
  color:#5b5b5b;
  font-weight: normal;
  font-size: 1.5rem;
}

page-userprofile ion-img {
    display: block;
    border-radius: 100px;
    display: block;
margin: 0 auto;
}

page-userprofile .item-ios {
  color:#000;
}

page-userprofile .list-header-ios,
page-userprofile .item-ios {
  padding-left:0;
}

page-userprofile .list-header-ios {
  color:rgb(158, 158, 158);
}

page-userprofile .list-ios {
  margin: -1px 0 10px;
  white-space: normal;
}