page-productperformance .toolbar-background-md {
  background-color: #e11173;
}

page-productperformance .toolbar-title-md {
    color: #fff;
}

page-productperformance ion-list h3 {
  text-align: center;
}

page-productperformance .pricing {
  margin-bottom:30px;
}

page-productperformance .pricing .divTable{
	display: table;
	width: 100%;
}
page-productperformance .pricing .divTableRow {
	display: table-row;
}
page-productperformance .pricing .divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
page-productperformance .pricing .divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
page-productperformance .pricing .divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
page-productperformance .pricing .divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
page-productperformance .pricing .divTableBody {
	display: table-row-group;
}
