page-merchantinventory {

}

page-merchantinventory .toolbar-background-md {
  background: #790075 ;
  color: #fff;
}

page-merchantinventory .toolbar-title-md {
  color: #fff;
}

page-merchantinventory .content-md{
  background-color: #f6f6f6;
  color: #000;
}

page-merchantinventory .wallet-balance {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-top:15px;
}

page-merchantinventory .wallet-balance p,
page-merchantinventory .merchant-content .wallet-balance h3 {
  margin: 0;
  line-height: 25px;
}

page-merchantinventory .wallet-balance p {
  font-size: 1.5rem;
}


page-merchantinventory .wallet-balance ion-icon {
  font-size: 5rem;
  color: #790075;
}
